<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyServ</servlet-name>
        <servlet-class>MyServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedServ</servlet-name>
        <servlet-class>AddMedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustRegServ</servlet-name>
        <servlet-class>CustRegServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NPChargesUpdateServ</servlet-name>
        <servlet-class>NPChargesUpdateServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TVChargesUpdateServ</servlet-name>
        <servlet-class>TVChargesUpdateServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAuthServ</servlet-name>
        <servlet-class>UserAuthServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreServ</servlet-name>
        <servlet-class>UserCreServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelServ</servlet-name>
        <servlet-class>UserDelServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserModifyServ</servlet-name>
        <servlet-class>UserModifyServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServ</servlet-name>
        <url-pattern>/MyServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedServ</servlet-name>
        <url-pattern>/AddMedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustRegServ</servlet-name>
        <url-pattern>/CustRegServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NPChargesUpdateServ</servlet-name>
        <url-pattern>/NPChargesUpdateServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TVChargesUpdateServ</servlet-name>
        <url-pattern>/TVChargesUpdateServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAuthServ</servlet-name>
        <url-pattern>/UserAuthServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreServ</servlet-name>
        <url-pattern>/UserCreServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelServ</servlet-name>
        <url-pattern>/UserDelServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserModifyServ</servlet-name>
        <url-pattern>/UserModifyServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            homepage.html
        </welcome-file>
    </welcome-file-list>
</web-app>
